@model  TicketManagement.ViewModels.ViewTicketReplyMainModel
@using TicketManagement.CommonData
@using TicketManagement.Models
@using TicketManagement.ViewModels

@foreach (var reply in Model.ListofTicketreply)
{
    if (reply != null)
    {
        string stylename;
        string remarkText;

        var key = string.Concat("collapse", reply.TicketReplyId);

        if (reply.DeleteStatus)
        {
            stylename = "panel panel-danger";
            remarkText = "[ Deleted ]";
        }
        else
        {
            stylename = string.Concat("panel panel-", reply.Viewcolor);
            remarkText = string.Empty;
        }

        <div class="@stylename">
            <div data-toggle="collapse" data-target="#@key" class="panel-heading">
                <div class="col-sm-8 col-xs-12">
                    <i class="fa fa-reply" style="font-size: 24px; color: #000000"></i> |
                    <button type="button" class="btn btn-default btn-xs">@reply.RepliedUserName</button> |
                    <i style="font-size: 14px; color: #50C878" class="fa fa-clock-o"></i> 
                    @reply.CreatedDateDisplay 
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="dropdown pull-right">
                        <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                            Options
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">

                            @if (!reply.DeleteStatus)
                            {
                                if (reply.TicketUser != null && reply.TicketUser == Convert.ToInt64(Session["UserId"]))
                                {
                                    <li><a href="/Ticket/EditReply?tracking=@reply.TrackingId&ticketreply=@reply.TicketReplyId">Edit Ticket Reply</a></li>
                                    <li><a href="javascript:void(0);" onclick="deleteTicketReply('@reply.TicketId', '@reply.TicketReplyId')">Delete Reply</a></li>
                                }

                               
                            }
                            <li><a onclick="Sendprint('@reply.TrackingId')" href="javascript:void(0);">Print</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="@key" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="control-label">Message</label>
                            <div class="message" style="word-wrap: break-word;">@Html.Raw(reply.Message)</div>
                            <hr />
                        </div>
                    </div>
                    
               
         
                    <div class="row">
                        <div class="col-lg-4">

                            @if (Model.ListofReplyAttachment.Count != 0)
                            {

                                TicketReplyAttachment ticketReplyAttachment = new TicketReplyAttachment();
                                var attachment = ticketReplyAttachment.GetListReplyAttachmentsByAttachmentId(reply.TicketReplyId);
                                if (attachment.Count != 0)
                                {
                                    <label>Attachment</label>
                                    <br />
                                    foreach (var t in attachment)
                                    {
                                        <a class="btn btn-primary btn-xs"
                                           data-toggle="tooltip" data-placement="top"
                                           title="Download Attachment !"
                                           href="/TicketDetails/DownloadReplyAttachMent?ticketReplyId=@t.TicketReplyId">
                                            Download <i class="fa fa-download"></i>
                                        </a>
                                        @t.AttachmentName
                                        <br />
                                    }
                                }

                            }
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}