@model TicketManagement.Models.RoleMaster

<div class="col-md-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Delete Role</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <div class="alert alert-info">
                <strong>Info!</strong> Are you sure you want to delete this?
            </div>
            <div class="form-group">
                <b>@Html.DisplayNameFor(model => model.RoleName)</b> 
                @Html.DisplayFor(model => model.RoleName)
            </div>
            <div class="form-group">
                <b>@Html.DisplayNameFor(model => model.Status)</b>
                @Html.DisplayFor(model => model.Status)
            </div>
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.CreateDate)</b>
                @Html.DisplayFor(model => model.CreateDate)
            </div>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-round btn-danger" /> |
                   
                    <a href="/RoleMaster/Index" class="btn btn-round btn btn-primary"> Back to List</a>
                </div>
            }
        </div>
    </div>
</div>
